html{
  font-size: 100%;
  box-sizing: border-box;
  
}
body{
  font: 1.6rem;
  height: 100vh;
  margin: 0;
}
.button{
  font-size: 1rem;
}
.full-width{
  width: 100%;
}
.grid-container{
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
.header{
  padding: 0.5rem;
  grid-area: header;
  background-color: #2d83da;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand a{
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
}
.header-links a{
  color: #ffffff;
  text-decoration: none;
}
.header-links a:hover{
  color: rgb(167, 49, 49)
}
.main{
  grid-area:main;
}
.footer{
  background-color: #2d83da;
  color: #ffffff;
  display: flex;
  grid-area:footer;
  justify-content: center;
  align-items: center;
}

/*homescreen*/

.paintings{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
a{
  text-decoration: none;
}
a:hover{
  color: rgb(167, 49, 49);
}
.paintings li{
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 30rem;
  border-bottom: .1rem rgba(80, 79, 148, 0.533) solid;
}
.paint{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

}
.paint-name{
  font-size: 2rem;
  font-weight: bold;

}
.paint-rating{
  margin-bottom: 1rem;
}
.paint-brand{
  font-size: 1.2rem;
  color: rgb(90, 89, 89);
}
.paint-price{
  font-size: 2rem;
  font-weight: bold;
}
.paint-image{
  max-width: 24rem;
  max-height: 24rem;
}

.brand button{
  font-size: 3rem;
  padding: .5rem;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
}
.sidebar{
  position: fixed;
  transition: all , .5s;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: #f0f0f0;
  height: 100%;
}
.sidebar.open{
  transform: translateX(0);
}
.sidebar-close-button{
  border-radius: 50%;
  border: .3rem #2d83da solid;
  width: 3rem;
  height: 3rem;
  padding: .5rem;
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: .5rem;
  top: 1.5rem;
}
/*paint details*/
.details{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.details-image{
  flex: 2 1 60rem;
}
.details-image img{
  max-width: 40rem;
  width: 100%;
  padding-left: 1.2rem;
  
}
.details-info{
  flex: 1 1 30rem;
  
}
.details-image{
  flex: 1 1 30rem;
 
}

/* Cart */

.cart {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
}
.cart-list {
  flex: 3 1 60rem;
}
.cart-action {
  grid-column-start: 1;
  grid-column-end: -1;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  padding: 1rem;
  
}
.cart-list-container {
  padding: 0;
  list-style-type: none;
  padding: 1rem;
}
.cart-list-container li {
  display: flex;
  justify-content: space-between;

  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.cart-list-container li img {
  max-width: 10rem;
  max-height: 10rem;

}
.cart-list-container li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.cart-image {
  flex: 1 1;
}
.cart-name {
  flex: 8 1;
}
.cart-price {
  flex: 1 1;
  font-size: 2rem;
  text-align: right;
}

/* paints*/

.product-header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1rem;
  margin-right: 1rem;
}
.content-marged{
  margin: 1rem;
}
.table{
  width: 100%;
}
th{
  text-align: left;

}
tbody>tr:nth-child(odd){
  background-color: #f0f0f0;
}

/*checkout steps*/

.checkout-steps{
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin: 1rem auto;
}
.checkout-steps > div{
  border-top: .3rem #c0c0c0 solid ;
  color: #c0c0c0;
  flex: 1 1;
  padding-top: 1rem ;
}
.checkout-steps > div.active{
  border-top: .3rem #f08000 solid ;
  color: #f08000;
}